html {
  --textcolor: #242424;
  --darkgrey: #474747;
  --teal: #009688;
  --teal_dark: #207f7c;
  --teal_semilight: #39b3ae;
  --teal_light: #C2E1E1;
  
  font-size: 16px;
  scroll-behavior: smooth;
}

    
/* TEXT */
    p, a, h1, h2, h3, h4{
        font-family: Arial, sans-serif;
        text-align: justify;
        text-decoration: none;
    }
    
    p, a, h1, h2, h4{  color: var(--textcolor); }
    h3{ color: var(--teal); 
        font-style: italic;
    }
    
    h1, h2 {
        text-align: center;
    }
    h1{
        width: 100%;
        font-weight: 500;
        border-bottom: 2px solid var(--teal);
        padding-bottom: 10px;
        margin-bottom: 60px;
    }
    h4{
        font-weight: bold;
    }
    th {
        font-weight: normal;
    }
      

/* HEADER */
    .header{
        margin: auto;
        height: 100vh;
        width: 100%;
        position: relative;
        top: 60px;
    } 
    .header img{
        position: fixed;
        z-index: -1;
        height: calc(100vh - 100px);
        background-position: right;
        overflow: visible;
        background-repeat: no-repeat;
        background-size: cover;
    } 
    .header .text-block {
        position: absolute;
        transform: translateY(30vh);
    }
    .header .text-block p, .header .text-block h1, .header .text-block h3 {
        color: white;
        line-height: 160%;
        text-align: left;
        font-style: normal;
    }

 /* MAIN */
    .main{
        width: 100%;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main1, .main2{
        margin-left: auto;
        margin-right:auto;
    }

/* GARLLERY */
    .gallery{
        background-color: var(--teal_light);
        width: 100%;
        text-align: center;
    }

    
/* BUTTONS */
    .button{
        background-color: var(--teal_dark);
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 20px;
        display: inline-block;
    }
    .button:hover{
        background-color: var(--teal_semilight);
    }
    .button p{
        color: white;
    }
    
    
/* FOOTER */
    .footer p {
        color: white;
    }
    
 
    
:target {
    display: block;
    position: relative;
    top: -70px; 
}

.column {
  float: left;
}





/* PHONE */
    p, a, h1, h2, h3, h4{    line-height: 160%;    }
    p, a, h4{       font-size: 1rem;     }
    h1{             font-size: 1.1rem;   }
    h2, h3{         font-size: 1.1rem;   }
    
    .main1{     width: 90%;    }
    .main2{     width: 90%;    }
    .col3{      width: 100%;    }   
    .col2{      width: 100%;    }
    .colgap{    width: 100%;    }
    
    .phonehide{ display: none;  }

/* TABLET */
@media screen and (min-width: 992px){
    p, a, h1, h2, h3, h4{    line-height: 160%;    }
    p, a, h4{       font-size: 1.1rem;   }
    h1{             font-size: 2rem;     }
    h2, h3{         font-size: 1.5rem;   }
    
    .main1{     width: 80%;     }
    .main2{     width: 90%;     }
    .col3{      width: 32%;      }   
    .col2{      width: 48%;      }
    .colgap{    width: 2%;       }
    
    .phonehide{ display: block;  }
}

/* LAPTOP/DESKTOP */
@media screen and (min-width: 1250px){
    p, a, h1, h2, h3, h4{    line-height: 160%;    }
    p, a, h4{       font-size: 1.1rem;   }
    h1{             font-size: 2rem;     }
    h2, h3{         font-size: 1.5rem;   }
    
    .main1{     width: 1000px;   }
    .main2{     width: 1200px;   }
    .col3{      width: 32%;      }   
    .col2{      width: 48%;      }
    .colgap{    width: 2%;       }
    
    .phonehide{ display: block;  }
}